@media (max-width:360px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    #navCont{
        position: absolute !important;
        top:60vh;
        #nav{
            width: 100vw;
            max-height: 40vh;
        }
    }

    #contBotonera{
        margin-top: -1.5vh !important;
    }

    .img-cont{
        img{
            width: 100% !important;
            height: auto !important;
        }
    }
    #canvas{
        min-height: 300px !important;
        margin-top: 2vh;
    }

    #canvasCont{
        max-height: 600px;
    }

    ::-webkit-scrollbar {
        width: 5px !important;
    }

    .App{
        overflow-y: scroll !important;
    }
}

@media (min-width:360px){
    .App{
        overflow-y: hidden;
    }

    
}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }